<!DOCTYPE html>
<html lang="en">
<head>
    <link type:"text/css" rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body id="title">
    <div class="container">
        
        <h1 class="maq">They are acting behind the Scenes</h1>
        
    </div>
    
    <div>
        <form action="/q4" method="POST">
            <img id="i" class='maq' style="visibility: hidden" src="images/theyknew.png" alt="they knew" width=800 height=400>
            <p id='p'></p>
        </form>
    </div>

    <script>

        let button_and_check = () => {
            let input = document.createElement("INPUT");
            let btn = document.createElement("BUTTON");
            btn.innerHTML = 'Check';
            btn.type="submit";
            input.name="resp";
            let p = document.getElementById("p");
            p.appendChild(input);
            p.appendChild(btn);
            
        }

        /*MAQUINA DE ESCREVER*/
        
        const MaquinaEscrever = (palavra, speed) => {
            console.log(palavra);
            
            const escrita = palavra.innerHTML.split('');
            palavra.innerHTML = '';
            //console.log(escrita);

            
            escrita.forEach((letra, i) => {
                
                setTimeout(() => palavra.innerHTML += letra, speed * i);
                
            });
        }
        MaquinaEscrever(document.querySelectorAll(".maq")[0],80);
        setTimeout(() => {
            document.getElementById('i').style.visibility = "visible";
            MaquinaEscrever(document.querySelectorAll(".maq")[1],80);
            setTimeout(() => {
                button_and_check();
            }, 1000);
        }, 4000);
    </script>

</body>
</html>