<!DOCTYPE html>
<html lang="en">
<head>
    <link type:"text/css" rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brainstest</title>
</head>
<body id="title">
    <div class="container">
        
        <h1 class="maq">Okay. You are prepared.</h1>

    </div>
    <div>
        <form action="/q1" method="POST">
            <p id="p" class="maq" style="visibility: hidden">e4 e5</p>
            <p id="p2" class="maq" style="visibility: hidden">Dh5 Cc6</p>
            <p id="p3" class="maq" style="visibility: hidden">Bc4 Cf6</p>
            <p id="p4" class="maq" style="visibility: hidden">?</p>
        </form>
    </div>
    <script>

        let button_and_check = () => {
            let input = document.createElement("INPUT");
            let btn = document.createElement("BUTTON");
            btn.innerHTML = 'Check';
            btn.type="submit";
            input.name="resp";
            let p4 = document.getElementById("p4");
            p4.appendChild(document.createElement("BR"));
            p4.appendChild(input);
            p4.appendChild(btn);
            
        }

        /*MAQUINA DE ESCREVER*/
        
        const MaquinaEscrever = (palavra, speed) => {
            console.log(palavra);
            
            const escrita = palavra.innerHTML.split('');
            palavra.innerHTML = '';
            //console.log(escrita);

            
            escrita.forEach((letra, i) => {
                
                setTimeout(() => palavra.innerHTML += letra, speed * i);
                
            });
        }
        MaquinaEscrever(document.querySelectorAll(".maq")[0],130);
        setTimeout(() => {
            document.getElementById('p').style.visibility = "visible";
            MaquinaEscrever(document.querySelectorAll(".maq")[1],130);
            setTimeout(() => {
                document.getElementById('p2').style.visibility = "visible";
                MaquinaEscrever(document.querySelectorAll(".maq")[2],130);
                setTimeout(() => {
                    document.getElementById('p3').style.visibility = "visible";
                    MaquinaEscrever(document.querySelectorAll(".maq")[3],130);
                    setTimeout(() => {
                        document.getElementById('p4').style.visibility = "visible";
                        MaquinaEscrever(document.querySelectorAll(".maq")[4],130);
                        setTimeout(() => {
                            button_and_check();
                        }, 1000);
                    }, 1000);
                }, 1000);
            }, 1000);
        }, 4000);
    </script>

</body>
</html>