body {
    background-image:
    linear-gradient(to right, rgb(191,191,190, 0.50), rgb(60,1,75,0.50)),
    url(/images/capela-sistina.jpg);
    background-size: cover;
}

#title {
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
    margin: 3%;
    color: white;
    text-align: center;
}


.container {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10%;

}

/* BLINK EFFECT */
.maq:after {
    content: "|";
    opacity: 0;
    animation: blink;
    animation-iteration-count: 4;
    animation-duration: 1s;
}
@keyframes blink{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}